<div class=row>
  <div class='col-xs-6'>
    <h1>{{name}}</h1>
    <h3>{{location}}</h3>
    <h3>{{date}}</h3>
  </div>
  <div class="col-xs-6">
    <div class="pull-right">
      {{#link-to 'new-lot' this.id classNames="btn btn-info"}}Add new lot to this auction{{/link-to}}
    </div>
  </div>
</div>

<ul class="list-unstyled">
  {{#each lots}}
    <li class="list-item">
      <div class="row">
        <div class="col-xs-2">
          <img {{bind-attr src=photoUrl }}>
        </div>
        <div class="col-xs-10">
          {{year}} {{make}} {{modelName}}
        </div>
      </div>
    </li>
  {{/each}}
</ul>

{{outlet}}
