<div class=row>
  <div class='col-xs-6'>
    <h1>{{name}}</h1>
    <h3>{{location}}</h3>
    <h3>{{date}}</h3>
  </div>
  <div class="col-xs-6">
    <div class="pull-right">
      {{#link-to 'new-lot' classNames="btn btn-info"}}Add new lot to this auction{{/link-to}}
    </div>
  </div>
</div>

<ul>
  {{#each lot in lots}}
    <li>{{lot.year}} {{lot.make}} {{lot.model}}</li>
    <!-- {{#link-to ''}}{{/link-to}} -->
  {{/each}}
</ul>
